<div class="row">


    <div class="col-md-4 login-box form-group">
        <div class="panel panel-default shuffle-group">
            <div class="panel-heading shuffle-group-heading"><a>Login</a></div>
            <div class="panel-body shuffle-group-panel fixed-panel" style="max-height: 400px;min-height:400px;overflow-y:hidden;">
                <form name="form" ng-submit="login()" role="form">
                    <div class="form-group" ng-class="">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="username"
                               required/>
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group" ng-class="">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="password"
                               required/>
                        <span ng-show="" class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" style="position: absolute;bottom: 10%;right:10%;">
                            Login
                        </button>
                        <!--<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
                        <!--<a href="#/register" class="btn btn-link">Register</a>-->
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="col-md-8 register-box form-group">
        <div class="panel panel-default shuffle-group">
            <div class="panel-heading shuffle-group-heading"><a>SignUp</a></div>
            <div class="panel-body shuffle-group-panel fixed-panel" style="max-height: 400px;min-height:400px;overflow-y:hidden;">
                <form name="form" ng-submit="register()" role="form" ng-controller="userController">

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group" ng-class="">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="s_username" class="form-control"
                                       ng-model="username"
                                       required/>
                                <span ng-show="form.username.$dirty && form.username.$error.required"
                                      class="help-block">Username is required</span>
                            </div>
                            <div class="form-group" ng-class="">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="s_password" class="form-control"
                                       ng-model="password"
                                       required/>
                                <span ng-show="" class="help-block">Password is required</span>
                            </div>

                        </div>
                        <div class="col-md-2">
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" ng-class="" >

                                <label>Concurrent Sessions</label>
                                <select>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="">

                                <div ng-controller="languagesController">
                                    <div class="panel-body">
                                        <div ng-repeat="x in languages">
                                            <div class="col-md-3">
                                                <label>
                                                    <input type="checkbox">
                                                    {{ x.name }}
                                                </label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>


                            <button type="submit" class="btn btn-primary" style="position: absolute;bottom: 10%;right:5%;">
                                Register
                            </button>
                            <!--<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
                            <!--<a href="#/register" class="btn btn-link">Register</a>-->


                </form>

            </div>

        </div>
    </div>


</div>


